H1
{color: black;
font-size: 22px;
font-family:arial, sans-serif;
text-align: center;
}

h2
{color: #5dc460;
font-size: 17px;
font-family:times, sans-serif;
text-align: left;

}

h3
{color: blue;
font-size: 16px;
font-family:times, sans-serif;
text-align: left;
}
  .header {
        background-color: #e44f9c;
        padding: 20px; 

}
      .main-content {
        background-color: white;
        padding: 40px;
      }    

    #carrusel-caja {
        -moz-animation: automatizacion 15s infinite linear;
        -o-animation: automatizacion 15s infinite linear;
        -webkit-animation: automatizacion 15s infinite linear;
        animation: automatizacion 15s infinite linear;
    
        -webkit-transition: all 0.75s ease;
        -moz-transition: all 0.75s ease;
        -ms-transition: all 0.75s ease;
        -o-transition: all 0.75s ease;
        transition: all 0.75s ease;
    
        height: 500px;
        width: 300%;
    }
    
    #carrusel-contenido {
        margin: 0 auto;
        overflow: hidden;
        text-align: left;
    }
    
    .imagenes{
        height: 500px;
        width: 100%;
    }
    
    .carrusel-elemento {
        float: left;
        width: 16.666%;
    }
    
    @-moz-keyframes automatizacion {
        0% {
            margin-left: 0;
        }
    
        30% {
            margin-left: 0;
        }
    
        35% {
            margin-left: -100%;
        }
    
        65% {
            margin-left: -100%;
        }
    
        70% {
            margin-left: -200%;
        }
    
        95% {
            margin-left: -200%;
        }
    
        100% {
            margin-left: 0;
        }
    }
    
    @-webkit-keyframes automatizacion {
        0% {
            margin-left: 0;
        }
    
        30% {
            margin-left: 0;
        }
    
        35% {
            margin-left: -100%;
        }
    
        65% {
            margin-left: -100%;
        }
    
        70% {
            margin-left: -200%;
        }
    
        95% {
            margin-left: -200%;
        }
    
        100% {
            margin-left: 0;
        }
    }